@page
@model MJ_Rent_Login.Pages.Reserves.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reserve</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserve.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserve.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve.ResDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserve.ResDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserve.ResTimeLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserve.ResTimeLength)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reserve?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
